.foodCard {
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  position: relative;
  height: 160px;
  width: 90%;
  padding: 20px;
  margin-bottom: 30px;
}

.foodCard h4 {
  width: 90%;
}

.foodImage {
  position: absolute;
  right: -50px;
  top: 18%;
  padding: 10px;
  background: white;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.foodImage img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
