.foodModalCard {
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  display: flex;
  gap: 20px;
}
.foodModalCard img {
  height: 50px;
  width: auto;
}
.foodContainer {
  max-width: 900px !important;
}

.foodModalCloseButton {
  top: 50px !important;
  left: 87%;
  padding: 10px !important;
  background-color: white !important;
  border-radius: 50% !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  color: black !important;
}
